@font-face {
  font-family: 'AmbleRegular';
  font-style: normal;
  font-weight: 400;
  src: local('AmbleRegular'), url('../fonts/Amble/Amble-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'AmbleBold';
  font-style: normal;
  font-weight: 700;
  src: local('AmbleBold'), url('../fonts/Amble/Amble-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'AmbleLight';
  font-style: normal;
  font-weight: 300;
  src: local('AmbleLight'), url('../fonts/Amble/Amble-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'BigJohn';
  font-style: normal;
  font-weight: 400;
  src: local('Bigjohn'), url('../fonts/Bigjohn/BIGJOHN.otf') format('otf');
}
@font-face {
  font-family: 'AvenirLight';
  font-style: normal;
  font-weight: 300;
  src: local('AvenirLight'), url('../fonts/Avenir/Avenir-Light.woff') format('woff');
}


@import 'compass';
@import "grids";
@import "reset";
@import "layout/header";
@import "site-parts/hero";
@import "layout/footer";

@include border-box-sizing();
.container{
  @include container();
  padding:0 15px;
  overflow: hidden;
}
img{
  max-width:100%;
}
